body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
}

.container {
  padding: 5px;
}

.slider {
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.slider-container {
  text-align: center;
}

.slider-container>a {
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 1rem 0 0.5rem 0;
  position: relative;
  text-decoration: none;
}

.slider-container>a:focus {
  background: rgba(32, 14, 14, 0.808);
  color: #fff;
}

.slide {
  width: calc(100vw - 10px);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  background: #61a3f0;
  color: #fff;
  font-size: 4rem;
  font-family: Geneva, Verdana, sans-serif;
  /* scroll-behavior: smooth; */
}
