body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: lightgrey;
}

.container {
  padding: 5px;
}

.slider {
  height: 300px;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  border: 1px solid red;
}

.slide {
  width: calc(100vw - 10px);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  background: #61a3f0;
  color: #fff;
  font-size: 4rem;
  font-family: Geneva, Verdana, sans-serif;
}
